                    <div class="row">
                        <div class="col-md-12">
                            <ul class="timeline">
                            <% @preferences.each do |f|%>
                                <li>
                                    <div class="timeline-item">
                                        <h3 class="timeline-header no-border" style="text-align:center;">
                                        		<% if f.enable == 1 %>
                                        			<div style="display:inline"><%= f.name %></div>
                                        				<% if f.order!=3 %>
                                        					<a href="./landing/index?op=1&pid=<%=f.id%>" class="up_arrow_box" data-remote="true" style="margin-left:30px">
                                        					</a>
                                        				<% end %>
	                                        	<% if f.order!=0 %>
	                                        		<a href="./landing/index?op=0&pid=<%=f.id%>" style="margin-left:10px" class="down_arrow_box" data-remote="true">
	                                        		</a>
	                                        	<% end %>
                                			<%= link_to ' Disable?', index_preferences_path(:toggle => 1, :pid => f.id),:remote => true,:class=>"enable" %>        
                                        	<% else %>
                                        	<div style="text-decoration:line-through;display:inline;color:#D0D0D0"><%= f.name %></div>
                                        	<%= link_to ' Enable?', index_preferences_path(:toggle => 1, :pid => f.id),:remote => true,:class=>"enable" %>
                                        	<% end %> <br>
                                        </h3>
                                    </div>
                                </li>
                                <% end %>
                            </ul>
                        </div><!-- /.col -->
                    </div><!-- /.row -->